.loader {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 3rem;

    .spinner {
        border: 0.25rem solid rgba(var(--lightRgb), 0.2);
        border-top: 0.25rem solid rgba(var(--lightRgb), 1);
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
        animation: spin 1s linear infinite;

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }

    p {
        font-weight: 700;
        margin: 0;
        padding: 0;
    }
}