.socialIcons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: max-content;

    .socialIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
        flex-shrink: 0;
        background: var(--alt);
        color: var(--light);
        border-radius: 50%;
        transition: var(--ease);

        svg {
            width: 1rem;
            height: 1rem;
        }

        &:hover {
            scale: 1.1;
        }

        &:nth-child(1) {
            background: var(--green);
        }

        &:nth-child(2) {
            background: var(--lime);
        }

        &:nth-child(3) {
            background: var(--emerald);
        }

        &:nth-child(4) {
            background: var(--teal);
        }
    }

    &.rounded {
        .socialIcon {
            border-radius: 50%;
        }
    }
}