$headerTransition: all 0.15s ease-in-out;
$submenuTransition: all 0.15s ease-in-out;

@mixin submenu() {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    min-width: max-content;
    padding: 1.25rem;
    border-radius: 0.5rem;
    background: rgba(var(--lightRgb), 0.15);
    position: absolute;
    z-index: 99999;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: $submenuTransition;
}

.header {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    z-index: 9999;
    transition: $headerTransition;

    &.active {
        .headerContainer {
            background: rgba(var(--darkRgb), 0.75);
            backdrop-filter: blur(1.5rem);
            border-radius: 0 0 1rem 1rem;
            height: calc(var(--headerHeight) * 0.66);
        }
    }

    @media (width >=1200px) {
        top: calc(var(--headerHeight) * 0.5);

        &.active {
            top: calc(var(--headerHeight) * 0.15);
            border-radius: 1rem;

            .headerContainer {
                height: calc(var(--headerHeight) * 0.85);
                border-radius: 1.5rem;
            }

            .logo img {
                height: calc(var(--headerHeight) * 0.4);
            }
        }
    }

    &.productHeader {
        top: 0;
        border-bottom: 2px solid rgba(var(--lightRgb), 0.1);

        &.active {
            border-color: transparent;
        }
    }
}

.headerContainer {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: var(--mobileHeaderHeight);
    transition: $headerTransition;

    @media (width >=1200px) {
        padding-top: 0;
        padding-bottom: 0;
        height: var(--headerHeight);
    }
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        @media (width >=1200px) {
            height: calc(var(--headerHeight) * 0.5);
            width: auto;
            transition: $headerTransition;
        }
    }
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    &.desktopMenu {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .navItem {
        position: relative;

        &.hasSubMenu,
        &.hasMegaMenu {
            &::after {
                content: "";
                display: inline-block;
                width: 0;
                height: 0;
                margin-left: 0.5rem;
                vertical-align: middle;
                border-top: 0.35rem solid var(--primary);
                border-right: 0.35rem solid transparent;
                border-left: 0.35rem solid transparent;
            }

            &:hover {
                .subMenu,
                .megaMenu {
                    top: 100%;
                    opacity: 1;
                    visibility: visible;
                }
            }

            &.hasMegaMenu {
                position: unset;
                &:hover {
                    .megaMenu {
                        top: calc(100% - 0.5rem);
                    }
                }
            }
        }
    }

    .navLink {
        transition: var(--ease);

        &.active,
        &:hover {
            color: var(--primary);
        }
    }
}

.subMenu {
    @include submenu();
}

.megaMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: max-content;
    margin: 0 auto;
    opacity: 0;
    visibility: hidden;
    transition: $headerTransition;
    transition-delay: 0.15s;

    &:hover {
        transition-delay: 0.33s;
    }
}