.share {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 3rem;
    padding-top: 1.5rem;
    border-top: 1px solid rgba(var(--darkRgb), 10%);

    .shareItems {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0.5rem;

        .shareItem {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 1rem;
            padding: 1rem 1rem;
            position: relative;
            transition: color 0.25s ease-in-out;
            flex-grow: 1;

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
                width: 100%;
                height: 1px;
                transition: height 0.25s ease-in-out;
            }

            svg {
                width: 1.5rem;
                height: 1.5rem;
            }

            span {
                position: relative;
                z-index: 1;
            }

            &:hover {
                &::before {
                    height: 100%;
                }
            }


            &.shareItemFacebook {
                color: #1877F2;

                &:before {
                    background: rgba(24, 119, 242, 0.25);
                }
            }

            &.shareItemTwitter {
                color: #000;

                &:before {
                    background: rgba(0, 0, 0, 0.25);
                }
            }

            &.shareItemLinkedin {
                color: #0077B5;

                &:before {
                    background: rgba(0, 119, 181, 0.25);
                }
            }

            &.shareItemWhatsapp {
                color: #25D366;

                &:before {
                    background: rgba(37, 211, 102, 0.25);
                }
            }
        }
    }
}