.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 20rem;
    height: 20rem;
    background: rgba(250, 250, 250, 0.65);
    backdrop-filter: blur(0.25rem);
    border: 2px solid rgba(0, 0, 0, 15%);
    border-radius: var(--colRadius);
    position: fixed;
    z-index: 99999;
    inset: 0;
    margin: auto;
    font-weight: 700;
    color: rgba(0, 0, 0, 75%);

    svg {
        fill: rgba(0, 0, 0, 50%);
        animation: spin 1s linear infinite;

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }
}