.careersIntro {
    .imageCol {
        img {
            animation: scale 5s ease-in-out infinite;

            @keyframes scale {

                0%,
                100% {
                    scale: 1;
                }

                50% {
                    scale: 0.925;
                }
            }
        }
    }
}