.worldmapContainer {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 10rem;
    overflow: hidden;

    @media (width >=768px) {
        min-height: 15rem;
    }

    @media (width >=1200px) {
        min-height: 30rem;
    }
}