.videoBanner {

    @media (width >=1200px) {
        padding-top: calc(var(--headerHeight) * 0.5);
    }

    .videoContainer {
        max-width: unset;

        @media (width >=1200px) {
            padding-right: calc(var(--headerHeight) * 0.5);
            padding-left: calc(var(--headerHeight) * 0.5);
        }
    }

    .video {
        mask-image: url("../../public/masks/video-mask-landscape.svg");
        -webkit-mask-image: url("../../public/masks/video-mask-landscape.svg");
        mask-size: cover;
        mask-repeat: no-repeat;
        mask-position: center;
        max-height: calc(100vh - calc(var(--headerHeight) + 1rem));
        overflow: hidden;
    }
}

.ctaRow {
    $containerMaxWidth: 1200px;
    margin: 20rem auto 7.5rem;
    position: relative;
    overflow: unset;

    @media (width >=1200px) {
        max-width: $containerMaxWidth;
    }

    &::before {
        content: '';
        position: absolute;
        background: url("/backgrounds/background-top-triangle.svg");
        background-size: contain;
        background-repeat: no-repeat;
        top: -2.5rem;
        left: 0;
        width: 33.33%;
        height: 4rem;

        @media (width >=1200px) {
            width: 40%
        }
    }

    .container {
        background-color: var(--darkAlt);
        border-radius: 0 var(--colRadius) var(--colRadius) var(--colRadius);

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            margin: auto;
            width: 100%;
            height: 100%;
            background-image: url("/backgrounds/background-plus-pattern.svg");
            background-size: 20rem;
            background-repeat: no-repeat;
            background-position: center;
            filter: invert(1);
            opacity: 0.05;
            transform: translateX(5%) translateY(-5%);
        }

        @media (width >=1200px) {
            flex-flow: row nowrap;
            padding: 5rem;
            max-width: $containerMaxWidth;
            gap: 3rem;

            >div {
                flex-basis: unset;
            }
        }

        .contentCol {
            @media (width >=1200px) {
                flex-basis: 45%;
                gap: 3rem;

                h2 {
                    font-size: 2.25rem;
                }
            }
        }

        .globeCol {
            position: relative;
            overflow: visible;

            @media (width >=1200px) {
                flex-basis: 55%;
            }

            .globeContainer {
                position: absolute;
                inset: 0;
                margin: auto;
                height: 35rem;

                @media (width >=768px) {
                    height: 45rem;
                }

                @media (width >=1200px) {
                    top: -4rem;
                    scale: 1.05;
                }
            }
        }

        .floatingText {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: max-content;
            padding: 0.875rem;
            background: var(--dark);
            border-radius: var(--colRadius);
            border: 1px solid rgba(var(--lightRgb), 0.15);
            position: absolute;
            top: -2.5rem;
            left: -2.5rem;
            z-index: 10;
            transition: var(--ease);

            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    transform: translateY(-0.25rem);
                }
            }

            a {
                position: absolute;
                inset: 0;
                z-index: 20;
                width: 100%;
                height: 100%;
            }

            &.floatingTextTwo {
                top: unset;
                bottom: -2.5rem;
                right: -2.5rem;
                left: unset;
            }

            p {
                @media all {
                    font-size: 0.75rem;
                    line-height: 125%;
                    margin: 0;
                    padding: 0;
                    max-width: 19ch;
                    text-align: center;
                }
            }
        }
    }
}