.productSection {
    .productSectionContainer {
        @media (width >=1200px) {
            gap: 3rem;

            >div {
                flex-basis: calc(50% - 1.5rem);
            }
        }
    }

    h1,
    h2 {
        text-wrap: balance;
        font-size: 1.25rem;

        @media (width >=768px) {
            font-size: 2rem;
        }

        @media (width >=1200px) {
            font-size: 2.5rem;
            text-wrap: pretty;
        }
    }

    &.hasImage {
        .productSectionContainer {
            @media (width <=1200px) {
                flex-direction: column !important;
            }
        }

        .imageCol {
            border-radius: var(--colRadius);
            overflow: hidden;

        }
    }

    &.productHeader {
        .imageCol {
            animation: scaleUp 1.25s ease-in-out;

            @keyframes scaleUp {
                from {
                    transform: scale(0.75);
                    opacity: 0;
                }

                to {
                    transform: scale(1);
                    opacity: 1;
                }
            }

            &::before {
                content: '';
                position: absolute;
                inset: 0;
                margin: auto;
                width: 100%;
                height: 100%;
                background-image: url("/backgrounds/background-products.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: 150%;
                z-index: -1;
                animation: spin 120s linear infinite;

                @media (width >=768px) and (width <1200px) {
                    background-size: 100%;
                }

                @keyframes spin {
                    from {
                        transform: rotate(0deg);
                    }

                    to {
                        transform: rotate(360deg);
                    }
                }
            }

            .productLogo {
                position: absolute;
                z-index: 1;
                top: 0;
                right: 0;

                @media (width >=768px) {
                    width: 6rem;
                }
            }
        }
    }

    &.productDashboard {
        .imageCol {
            &::before {
                content: '';
                position: absolute;
                background-image: url("/backgrounds/background-plus-pattern.svg");
                background-position: center;
                background-size: 100%;
                background-repeat: no-repeat;
                top: 0;
                right: 0;
                margin: auto;
                width: 100%;
                height: 100%;
                filter: invert(1);
                opacity: 0.1;

                @media (width >=1200px) {
                    width: 66.66%;
                    height: 66.66%;
                }
            }
        }
    }
}