.productCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    width: 100%;

    .productCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        gap: 1rem;
        border: 2px solid rgba(var(--lightRgb), 0.1);
        border-radius: var(--colRadius);
        background-color: rgba(var(--lightRgb), 0.025);
        padding: 2rem;
        position: relative;
        transition: var(--ease);

        &:hover {
            border-color: rgba(var(--lightRgb), 0.2);
            background-color: rgba(var(--lightRgb), 0.05);
        }

        .productCardLink {
            position: absolute;
            z-index: 1;
            inset: 0;
            margin: 0;
            width: 100%;
            height: 100%;
        }

        .cardImage {
            position: relative;
            width: 100%;
            max-height: 12.5rem;
            aspect-ratio: 1/1;

            img {
                object-fit: contain;
            }
        }

        .productCardContent {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            h3 {
                font-size: 1.25rem;
            }

            p {
                font-size: 0.9rem;
            }
        }
    }
}