/*
* =============================================
* Buttons
* ============================================= 
*/

.buttons {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1rem;
    padding: 0;
    width: 100%;

    &.centered {
        justify-content: center;
    }

    @media (width >=768px) {
        justify-content: center;
        gap: 1.5rem;
    }

    @media (width >=1200px) {
        justify-content: flex-start;

        &.end {
            justify-content: flex-end;
        }
    }
}

.btn {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    width: auto;
    padding: 0.75rem 0.875rem;
    border: 2px solid transparent;
    border-radius: var(--btnRadius);
    font-family: var(--text);
    font-size: 0.875rem;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--light);
    overflow: hidden;
    transition: var(--ease);
    cursor: pointer;

    @media (width >=768px) {
        flex: 0 0 auto;
        gap: 0.5rem;
    }

    .btnIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.25rem;
        height: 1.25rem;
        position: relative;

        svg {
            width: 75%;
            height: 75%;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            margin: auto;
            width: 100%;
            height: 100%;
            background: rgba(var(--lightRgb), 0.2);
            border-radius: 100%;
            transition: all 0.3s ease-in-out;

            @keyframes ripple {
                0% {
                    transform: scale(0.8);
                    opacity: 1;
                }

                100% {
                    transform: scale(2.5);
                    opacity: 0;
                }
            }
        }
    }

    &.primary {
        background: var(--primary);
        border-color: var(--primary);
        color: var(--light);
    }

    &.light {
        background: var(--light);
        border-color: var(--light);
        color: var(--dark);
        filter: brightness(0.95);

        .btnIcon {

            &::before,
            &::after {
                background: rgba(var(--darkRgb), 0.05);
            }
        }

        &:hover {
            filter: brightness(1);
        }
    }

    &.transparent {
        background: transparent;
        color: var(--light);
        border-color: var(--light);
    }

    &.hasAnimation {
        .btnIcon {
            &::after {
                animation: ripple 1.5s infinite;
            }
        }
    }

    &.textLink {
        justify-content: flex-start;
        text-align: left;
        padding: 0;
        line-height: 100%;
        background: transparent;
        margin: 0;
        min-width: unset;
        width: max-content;
        text-transform: none;

        .btnIcon {
            rotate: 45deg;
            transition: var(--ease);

            &::before,
            &::after {
                content: unset;
            }
        }

        &:hover {
            .btnIcon {
                rotate: 0deg;
            }
        }
    }

}