/*
* =============================================
* Forms
* ============================================= 
*/

.form {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.875rem;
    width: 100%;
    max-width: 576px;
    margin: 0 auto;
    padding: 0;

    @media (width >=768px) {
        flex-flow: row wrap;
        gap: 1rem 0.66rem;
    }
}

// Item
.formItem {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    border: none;
    padding: unset;
    position: relative;

    @media (width >=768px) {
        flex-basis: calc(50% - 0.66rem);
    }

    // Full Width > 768px
    &.fullWidth {
        flex-basis: 100%;
    }

    // Dropdowns
    &.dropdown {
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 1.25rem;
            margin: auto;
            width: 0.33rem;
            height: 0.33rem;
            border-right: 1px solid rgba(var(--lightRgb), 0.75);
            border-bottom: 1px solid rgba(var(--lightRgb), 0.75);
            transform: translateY(-50%) rotate(45deg);
            pointer-events: none;
        }
    }

    // Consent
    &.consent {
        flex-direction: row;
        align-items: center;
    }

    // Labels
    label {
        font-size: 0.75rem;
        opacity: 0.75;

        .required {
            color: var(--primary);
        }

        .optional {
            color: var(--light);
        }
    }

    // Inputs
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="password"],
    input[type="search"],
    input[type="url"],
    textarea,
    select {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0.875rem 1.25rem;
        min-height: 3.5rem;
        background-color: transparent;
        border-radius: var(--colRadius);
        border: 2px solid rgba(var(--lightRgb), 0.15);
        font-family: var(--text);
        font-size: 0.875rem;
        text-align: left !important;
        line-height: 1;
        font-weight: 500;
        color: var(--light);
        opacity: 1;
        transition: var(--ease);

        &::placeholder {
            opacity: 0.66;
            color: var(--light);
        }

        &:focus {
            outline: none;
            border-color: var(--primary);
            background-color: rgba(var(--lightRgb), 0.15);
            color: var(--light);
        }
    }

    select {
        appearance: none;

        option {
            background: var(--dark);
            color: var(--light);
            text-align: left !important;
        }
    }

    textarea {
        resize: vertical;
        min-height: 6rem;
        max-height: 12rem;
        overflow-y: auto;
        line-height: 140%;

        @media all {
            flex-basis: 100%;
        }
    }
}

.consent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: max-content;
    position: relative;
    margin: 0.5rem auto;
    text-align: left;

    @media (width >=768px) {
        margin: 1rem auto;
    }

    .consentInput {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 1.25rem;
        height: 1.25rem;
        border: 2px solid rgba(var(--lightRgb), 0.15);
        border-radius: 0.25rem;

        input[type="checkbox"] {
            position: absolute;
            z-index: 1;
            opacity: 0;
            left: 0;
            top: 0;
            bottom: 0;
            width: 1rem;
            height: 1rem;
        }
    }
}

// Form Footer
.formFooter {
    display: flex;
    justify-content: center;
    width: 100%;

    button {
        width: 100%;
        min-height: 3.5rem;
    }
}

// Form Message
.formMessage {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    width: 100%;

    .heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
    }
}

// Checkmark
.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: var(--primary);
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards
}

.checkmark {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 0;
    box-shadow: inset 0px 0px 0px var(--primary);
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0
    }
}

@keyframes scale {

    0%,
    100% {
        transform: none
    }

    50% {
        transform: scale3d(1.1, 1.1, 1)
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px var(--primary);
    }
}