:root {
    font-size: 1rem;

    // Colours
    --primary: #D49F32;
    --primaryRgb: 212, 159, 50;
    --light: #ffffff;
    --lightRgb: 255, 255, 255;
    --lightAlt: #F9F9F9;
    --lightAltRgb: 249, 249, 249;
    --dark: #0E121A;
    --darkRgb: 14, 18, 26;
    --darkAlt: #161D2A;
    --darkAltRgb: 22, 29, 42;

    // Borders & Radius
    --btnRadius: 10rem;
    --colRadius: 0.5rem;

    // Animations
    --ease: all 0.25s ease;

    // Header
    --headerHeight: 7.5rem;
    --mobileHeaderHeight: 5rem;

    // Layout
    --layoutMaxWidth: 1366px;

}

html,
body,
* {
    box-sizing: border-box;
    max-width: 100%;
}

html {
    scroll-behavior: smooth;

    &.noScroll {
        overflow-y: hidden;
    }
}

html,
body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    font-size: 1rem;
    line-height: 1;
    font-family: var(--font-dm-sans), ui-sans-serif, sans-serif;
    color: var(--lightAlt);
    background: var(--dark);
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:focus,
a:active {
    color: inherit;
    text-decoration: none;
}

*,
*:hover,
*:focus {
    outline: 0;
}

.skipToContent {
    position: absolute;
    top: -40px;
    left: 0;
    background: var(--primary);
    color: var(--light);
    padding: 0.5rem 1rem;
    z-index: 100;
    transition: var(--ease);

    &:focus {
        top: 0;
    }
}

/*
* =============================================
* Hidden classes
* ============================================= 
*/
.hidden {
    display: none !important;
}

.hidden-s {
    @media (width <1200px) {
        display: none !important;
    }
}

.hidden-l {
    @media (width >=1200px) {
        display: none !important;
    }
}

.hidden-xl {
    @media (width >=1400px) {
        display: none !important;
    }
}

/*
* =============================================
* Rows, Banners & Wrappers
* ============================================= 
*/

// Row
.row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: max-content;
    position: relative;
    overflow: hidden;
}

// Container
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;

    @media (width >=768px) {
        padding: 3rem;
        max-width: 90%;
    }

    @media (width >=1200px) {
        padding: 5rem 4rem;
    }

    @media (width >=1512px) {
        max-width: var(--layoutMaxWidth);
        padding: 5rem;
    }

    @media (width >=1920px) {
        padding: 5rem;
    }

    // Centered
    &.centered {
        @media all {
            justify-content: center;
            align-items: center;
            gap: 3rem;

            * {
                text-align: center;
            }

            .eyebrow {
                justify-content: center;
                text-align: center;
                margin: 0 auto;
            }

            .heading {
                align-items: center;
                text-align: center;

                .divider {
                    justify-content: center;
                    margin-left: auto;
                }

                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    margin-right: auto;
                    margin-left: auto;
                    max-width: 35ch !important;
                    text-align: inherit;
                }

                p {
                    margin-right: auto;
                    margin-left: auto;
                    max-width: 70ch;
                    text-align: inherit;
                }
            }
        }

        @media (width >=1200px) {

            h1,
            h2 {
                // margin: unset;
                max-width: 45rem;
            }

            p {
                max-width: 55rem;
            }
        }
    }

    // Dual Columns
    &.dualCols {
        @media (width >=1200px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            gap: 3rem;

            >div {
                flex-basis: calc(50% - 1.5rem);
            }

            @media (width >=1512px) {
                gap: 7.5rem;

                >div {
                    flex-basis: calc(50% - 3.75rem);
                }
            }
        }

        .contentCol {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            gap: 1.5rem;
        }

        &.rowReverse {
            flex-direction: column-reverse;

            @media (width >=1200px) {
                flex-direction: row-reverse;
            }
        }
    }

    // Remove All Padding
    &.noPadding {
        @media all {
            padding: 0;
        }
    }

    // Remove padding per Class
    @media all {
        &.noPaddingTop {
            padding-top: 0;
        }

        &.noPaddingBottom {
            padding-bottom: 0;
        }
    }

    @media (width >=1200px) {
        &.noPaddingRight {
            padding-right: 0;
        }

        &.noPaddingLeft {
            padding-left: 0;
        }
    }

    // Remove max-width
    &.noMaxWidth {
        @media all {
            max-width: unset;
        }
    }

    // Full Width Slider
    &.overflowSlider {
        @media all {
            align-items: unset;
            padding-right: 0;
            padding-left: 0;
            width: 100%;
            max-width: 100%;
        }
    }

    &.spaceBetween {
        @media (width >=1200px) {
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: flex-end;

            .heading {
                flex: 1 0 auto;

                h2,
                h3 {
                    max-width: 20ch;
                }
            }

            .buttons {
                flex: 0 1 auto;
                width: max-content;
                margin-left: auto;
                min-width: max-content;
            }
        }
    }
}

/*
* =============================================
* Headings
* ============================================= 
*/
.heading {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    padding: 0;
    margin: 0;

    &.mobileCentered {
        @media (width <768px) {
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }

    @media (width >=768px) and (width < 1200px) {
        align-items: center;
        text-align: center;
    }

    @media (width >=1200px) {
        text-align: left;
        align-items: flex-start;
    }

    h2 {
        @media (width >=768px) and (width < 1200px) {
            margin: auto;
            text-align: center;
            max-width: 100%;
        }
    }

    &.hasMaxWidth {
        @media all {
            max-width: 55ch;
            margin: 0 auto;
        }
    }

    &.hasFullStop {

        h2,
        h3 {
            &::after {
                content: '.';
                color: var(--primary);
            }
        }
    }
}

/*
* =============================================
* Eyebrows
* ============================================= 
*/

.eyebrow {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.33rem;
    color: #FFC107;
    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: 0.025rem;
    text-transform: uppercase;

    @media (width >=768px) {
        justify-content: center;
        gap: 0.5rem;
        font-size: 0.75rem;
        letter-spacing: 0.05rem;
    }

    @media (width >=1200px) {
        justify-content: flex-start;
    }

    .filled {
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        width: max-content;
        border-radius: 1rem;
        background: var(--dark);
        color: var(--light);
        padding: 0.33rem 0.66rem;

        &.primary {
            background: var(--primary);
            color: var(--light);
        }

        &.secondary {
            background: var(--secondary);
        }
    }

    &.light {
        color: var(--light);
    }
}

/*
* =============================================
* Image Fill
* ============================================= 
*/

.fill {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
}