:root {
    font-size: 1rem;

    // Colours
    --primary: #D49F32;
    --primaryRgb: 212, 159, 50;
    --light: #ffffff;
    --lightRgb: 255, 255, 255;
    --lightAlt: #F9F9F9;
    --lightAltRgb: 249, 249, 249;
    --dark: #0E121A;
    --darkRgb: 14, 18, 26;
    --darkAlt: #161D2A;
    --darkAltRgb: 22, 29, 42;

    // Borders & Radius
    --btnRadius: 10rem;
    --colRadius: 0.5rem;

    // Animations
    --ease: all 0.25s ease;

    // Header
    --headerHeight: 7.5rem;
    --footerHeight: 5rem;

    // Layout
    --layoutMaxWidth: 1366px;

}

html,
body,
* {
    box-sizing: border-box;
    max-width: 100%;
}

html {
    scroll-behavior: smooth;

    &.noScroll {
        overflow-y: hidden;
    }
}

html,
body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    font-size: 1rem;
    line-height: 1;
    font-family: var(--font-dm-sans), ui-sans-serif, sans-serif;
    color: var(--lightAlt);
    background: var(--dark);
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:focus,
a:active {
    color: inherit;
    text-decoration: none;
}

*,
*:hover,
*:focus {
    outline: 0;
}

/*
* =============================================
* Hidden classes
* ============================================= 
*/
.hidden {
    display: none !important;
}

.hidden-s {
    @media (width <1200px) {
        display: none !important;
    }
}

.hidden-l {
    @media (width >=1200px) {
        display: none !important;
    }
}

.hidden-xl {
    @media (width >=1400px) {
        display: none !important;
    }
}

/*
* =============================================
* Rows, Banners & Wrappers
* ============================================= 
*/

// Row
.row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
    position: relative;
}

// Container
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    width: 100%;
    margin: 0 auto;
    padding: 3rem 2rem;

    @media (width >=768px) {
        padding: 3rem;
        max-width: 90%;
    }

    @media (width <1512px) {
        padding: 5rem 4rem;
    }

    @media (width >=1512px) {
        max-width: var(--layoutMaxWidth);
        padding: 5rem;
    }

    @media (width >=1920px) {
        padding: 5rem;
    }

    // Centered
    &.centered {
        @media all {
            justify-content: center;
            align-items: center;
            gap: 3rem;

            * {
                text-align: center;
            }

            .eyebrow {
                justify-content: center;
                text-align: center;
                margin: 0 auto;
            }

            .heading {
                align-items: center;
                text-align: center;

                .divider {
                    justify-content: center;
                    margin-left: auto;
                }

                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    margin-right: auto;
                    margin-left: auto;
                    max-width: 35ch !important;
                    text-align: inherit;
                }

                p {
                    margin-right: auto;
                    margin-left: auto;
                    max-width: 70ch;
                    text-align: inherit;
                }
            }
        }

        @media (width >=1200px) {

            h1,
            h2 {
                // margin: unset;
                max-width: 45rem;
            }

            p {
                max-width: 55rem;
            }
        }
    }

    // Dual Columns
    &.dualCols {
        @media (width >=1200px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            gap: 3rem;

            &.rowReverse {
                flex-direction: row-reverse;
            }

            >div {
                flex-basis: calc(50% - 1.5rem);
            }

            @media (width >=1512px) {
                gap: 7.5rem;

                >div {
                    flex-basis: calc(50% - 3.75rem);
                }
            }
        }

        .contentCol {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            gap: 1.5rem;
        }

        &.flexStart {
            @media (width >=1200px) {
                >div {
                    justify-content: flex-start;
                }
            }
        }
    }

    // Tripple Cols
    &.triCols {
        @media (width >=1200px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            gap: 2rem;

            >div {
                flex-basis: calc(33.33% - 2rem);
                justify-content: center;
            }
        }
    }

    // Quad Cols
    &.quadCols {
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        gap: 3rem 1rem !important;

        >div {
            @media (width >=768px) {
                flex-basis: calc(50% - 1rem);
                justify-content: center;
            }
        }

        @media (width >=768px) {
            gap: 1.5rem;

            >div {
                flex-basis: calc(50% - 1.5rem);
            }
        }

        @media (width >=1200px) {
            flex-direction: row;
            justify-content: center;
            align-items: stretch;
            gap: 2rem;


            >div {
                flex-basis: calc(33.33% - 2rem);
                justify-content: center;
            }
        }

        @media (width >=1400px) {
            >div {
                flex-basis: calc(25% - 2rem);
                justify-content: center;
            }
        }
    }

    // Multi Cols
    &.multiCols {
        @media (width >=768px) {
            flex-direction: row;
            justify-content: center;
            align-items: stretch;
            gap: 1rem;

            >div {
                flex: 0 0 calc(50% - 1rem);
            }
        }

        @media (width >=1200px) {
            >div {
                flex-basis: calc(33.33% - 1rem);
            }
        }

        @media (width >=1512px) {
            justify-content: space-between;

            >div {
                flex-basis: calc(20% - 1rem);

                * {
                    text-align: center;
                }
            }
        }
    }

    // Remove All Padding
    &.noPadding {
        @media all {
            padding: 0;
        }
    }

    // Remove padding per Class
    @media all {
        &.noPaddingTop {
            padding-top: 0;
        }

        &.noPaddingBottom {
            padding-bottom: 0;
        }
    }

    @media (width >=1200px) {
        &.noPaddingRight {
            padding-right: 0;
        }

        &.noPaddingLeft {
            padding-left: 0;
        }
    }

    // Remove max-width
    &.noMaxWidth {
        @media all {
            max-width: unset;
        }
    }

    // Full Width Slider
    &.overflowSlider {
        @media all {
            align-items: unset;
            padding-right: 0;
            padding-left: 0;
            width: 100%;
            max-width: 100%;
        }
    }
}

/*
* =============================================
* Headings
* ============================================= 
*/
.heading {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    padding: 0;
    margin: 0;

    @media (width >=768px) and (width < 1200px) {
        align-items: center;
        text-align: center;
    }

    @media (width >=1200px) {
        text-align: left;
        align-items: flex-start;
    }

    h2 {
        @media (width >=768px) and (width < 1200px) {
            margin: auto;
            text-align: center;
            max-width: 100%;
        }
    }

    &.centered {
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        * {
            text-align: center;
        }

        &.hasMaxWidth {
            @media (width >=1200px) {
                max-width: 35rem;
            }
        }
    }

    &.hasFullStop {

        h2,
        h3 {
            &::after {
                content: '.';
                color: var(--primary);
            }
        }
    }
}

/*
* =============================================
* Eyebrows
* ============================================= 
*/

.eyebrow {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.33rem;
    color: var(--primary);
    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: 0.025rem;
    text-transform: uppercase;

    @media (width >=768px) {
        justify-content: center;
        gap: 0.5rem;
        font-size: 0.75rem;
        letter-spacing: 0.05rem;
    }

    @media (width >=1200px) {
        justify-content: flex-start;
    }

    .filled {
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        width: max-content;
        border-radius: 1rem;
        background: var(--dark);
        color: var(--light);
        padding: 0.33rem 0.66rem;

        &.primary {
            background: var(--primary);
            color: var(--light);
        }

        &.secondary {
            background: var(--secondary);
        }
    }

    &.light {
        color: var(--light);
    }
}

/*
* =============================================
* Image Fill
* ============================================= 
*/

.fill {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
}

/*
* =============================================
* Text Slider
* ============================================= 
*/

.textSlide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    gap: 0.875rem;

    span {
        font-size: 1.5em;
        line-height: 125%;
        font-weight: 700;
        font-family: var(--headings);
        text-transform: uppercase;
        color: var(--secondary);
        white-space: nowrap;

        @media (width >=768px) {
            font-size: 2rem;
        }
    }

    svg {
        position: relative;
        top: 0.15rem;
        width: 1.5rem;
        height: 1.5rem;

        @media (width >=768px) {
            width: 2rem;
            height: 2rem;
        }
    }
}

/*
* =============================================
* Hover Cards
* ============================================= 
*/

.hoverCards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    width: 100%;

    @media (width >=768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (width >=1200px) {
        grid-template-columns: repeat(4, 1fr);
    }

    .hoverCard {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 1.5rem;
        position: relative;
        overflow: hidden;
        border-radius: 2rem 0.5rem;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 2rem;
        min-height: 25rem;
        width: 100%;

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            margin: auto;
            width: 100%;
            height: 100%;
            opacity: 1;
            background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
            transition: var(--ease);
        }

        h3,
        .hoverCardContent {
            position: relative;
            z-index: 1;
            color: var(--light);
        }

        h3 {
            font-size: 1.25rem;
            font-weight: 700;
            text-transform: uppercase;
            color: var(--light);
            transition: var(--ease);
        }

        .hoverCardContent {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            overflow: hidden;
            transition: var(--ease);

            .btn {
                border: none;
                padding: 0;
                width: fit-content;
            }
        }

        @media (hover: hover) {

            h3 {
                transition: var(--ease);
                transform: translateY(0);
            }

            .hoverCardContent {
                opacity: 0;
                visibility: hidden;
                transition: var(--ease);
            }

            &:hover {
                .hoverCardContent {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}