.hasBackgroundImage {
    @media (width < 1200px) {
        background-image: none !important;
    }

    @media (width >=1200px) {
        background-size: calc(50% - 5rem);
        background-repeat: no-repeat;
        background-position: center center;

        &.backgroundImageLeft {
            background-position: 1% 10%;
        }
    }
}

.tabNav {
    width: 100%;
    max-width: 100%;

    @media (width < 1200px) {
        justify-content: flex-start;
        overflow-y: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        justify-content: flex-start !important;
        padding: 0 0 2rem;
        margin-top: -1rem;
    }

    @media all {
        flex-flow: row nowrap;
        gap: 0.875rem !important;
    }

    @media (width >=768px) {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    &.centered {
        @media (width < 1200px) {
            justify-content: center !important;
        }
    }

    .tabNavItem {
        scroll-snap-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0.75rem 1.25rem;
        font-size: 0.875rem;
        font-weight: 600;
        min-width: max-content;
        color: rgba(var(--lightRgb), 0.66);
        background: rgba(var(--lightRgb), 0.05);
        border: 1px solid rgba(var(--lightRgb), 0.15);
        border-radius: var(--btnRadius);
        transition: var(--ease);
        cursor: pointer;

        &:hover {
            border-color: rgba(var(--lightRgb), 0.5);
            color: var(--light);
        }

        &.active {
            background: var(--primary);
            color: var(--light);
        }
    }
}