.comparePaymentProviders {
    gap: 0;

    @media (width >=1200px) {
        gap: 1rem;
    }
}

.tabNav {
    @media (width < 768px) {
        margin-top: 1.25rem !important;
    }
}

.sectionHeader {
    width: 100%;

    @media (width < 1200px) {
        gap: 0.5rem !important;
    }
}


.tabItemContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    max-width: 60rem;
    margin-right: auto;
    margin-left: auto;

    @media (width >=1200px) {
        gap: 4rem;
        margin-top: 1.5rem;
    }

    .tabItemHeader {
        h3 {
            font-size: 1.25rem;
            max-width: 100% !important;

            @media (width >=1200px) {
                font-size: 1.5rem;
            }
        }
    }

    .comparisonContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        justify-content: center;
        width: 100%;

        @media (width >=1200px) {
            gap: 3rem;
        }
    }

    .col {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        gap: 1rem;
        width: 100%;
        padding: 2rem;
        background: rgba(var(--lightRgb), 0.05);
        border: 1px solid rgba(var(--lightRgb), 0.15);
        border-radius: var(--colRadius);

        @media (width >=1200px) {
            flex: 1 0 calc(50% - 1.5rem);
            padding: 2rem;
        }

        &.issuesCol {
            filter: brightness(0.9);
        }

        h4 {
            margin-bottom: 0.5rem;
        }

        .listItem {
            display: flex;
            align-items: center;
            gap: 0.66rem;


            .iconWrapper {
                flex-shrink: 0;
                display: flex;
                width: 1rem;
                height: 1rem;

                @media (width >=1200px) {
                    width: 1.1rem;
                    height: 1.1rem;
                }

                svg {
                    width: 100%;
                    height: 100%;
                }
            }


            p {
                line-height: 140%;
                font-weight: 500;
            }

            &.issueItem {
                p {
                    font-weight: 400;
                }
            }
        }
    }
}