.faqItems {
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
    width: 100%;

    @media (width >=768px) {
        flex-flow: row wrap;
        align-items: flex-start;
    }
}

.faqItem {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.5rem;
    background: var(--darkAlt);
    border-radius: var(--colRadius);
    cursor: pointer;

    @media (width >=768px) {
        padding: 2rem;
    }

    @media (width >=1024px) {
        width: calc(50% - 0.5rem);
    }

    .faqQuestion {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        list-style: none;
        font-size: 0.875rem;
        font-weight: 600;
        line-height: 120%;
        position: relative;
        width: calc(100% - 2rem);
        transition: var(--ease);

        @media (width >=768px) {
            font-size: 1rem;
            gap: 1rem;
        }

        @media (width >=1024px) {
            font-size: 1.125rem;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: -2rem;
            bottom: 0;
            margin: auto;
            width: 1rem;
            height: 2px;
            background: var(--primary);
            transition: var(--ease);
        }

        &::after {
            transform: rotate(90deg);
        }
    }

    .faqIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 50%;
        background: var(--primary);
        color: var(--darkAlt);

        @media (width >=768px) {
            width: 2rem;
            height: 2rem;

            svg {
                width: 1.33rem;
                height: 1.33rem;
            }
        }
    }

    .faqAnswer {
        font-family: inherit;
        font-weight: inherit;
        font-size: 0.875rem;
        line-height: 150%;

        @media (width >=768px) {
            font-size: 1rem;
            padding-left: 3rem;
        }
    }

    &:hover {
        .faqQuestion {
            color: var(--primary);
        }
    }

    &[open] {
        .faqQuestion {
            color: var(--primary);

            &::after {
                transform: rotate(0deg);
            }
        }

        .faqAnswer {
            max-height: 1000px;
            opacity: 1;
            margin-top: 0.5rem;
        }
    }
}