.textSliderRow {
    overflow: unset;
}

.textSliderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    position: absolute;
    inset: 0;
    margin: auto;

    .textSlideItem {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.325rem;
        font-size: 1rem;

        .logoMark {
            margin-left: 2rem;
        }
    }

    &.textSliderOne {
        background: var(--light);
        color: var(--dark);
        z-index: 1;
        transform: skewY(3deg);
        margin-top: -0.25rem;
    }

    &.textSliderTwo {
        background: var(--darkAlt);
        color: var(--light);
        z-index: 2;
        transform: skewY(-3deg);
        margin-top: 3rem;

        .textSlideItem {
            flex-direction: row-reverse;
        }
    }
}