.productSlider {
    .splide__slide {
        background: var(--darkAlt);
        border-radius: var(--colRadius);

        @media (width >=1200px) {
            transition: scale 0.25s ease;
            scale: 0.85;
            filter: brightness(75%);
            cursor: grab;

            &.is-visible,
            &.is-active {
                scale: 1;
                filter: brightness(100%);
                cursor: default;

                .arrows {
                    display: flex;
                }
            }
        }
    }
}

.productCard {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.5rem;
    gap: 1rem;
    height: 100%;
    position: relative;
    z-index: 10;

    @media (width >=1200px) {
        flex-flow: row-reverse nowrap;
        align-items: stretch;
        gap: 1.5rem;
        padding: 3rem;
    }

    @media (width >=1400px) {
        padding: 3rem 3rem 3rem 4rem;
    }

    @media (width >=1920px) {
        padding-left: 6rem;
    }

    @media (width >=2560px) {
        padding-left: 7.5rem;
        padding-right: 7.5rem;

    }

    .productContent {
        flex-basis: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        gap: 0.5rem;
        position: relative;

        @media (width >=1200px) {
            flex: 1 1 calc(50% - 0.75rem);
        }

        .productText {
            margin: 0;
            padding: 0;
            font-size: 0.875rem;
            line-height: 150%;

            @media (width >=1200px) {
                font-size: 0.9rem;
            }

            @media (width >=1920px) {
                font-size: 1rem;
            }
        }
    }

    .slideBtn {
        @media (width >=1200px) {
            margin-top: 1rem;
        }
    }

    .additionalInfoToggle {
        all: unset;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.25rem;
        font-weight: 600;
        font-size: 0.875rem;
        cursor: pointer;
        padding: 0.5rem 0;

        &open {
            svg {
                transform: rotate(180deg);
            }
        }
    }

    .additionalInfoInner {
        ul {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
            list-style: square;
            padding: 0 1rem 1rem;
            line-height: 150%;

            @media (width >=1200px) {
                gap: 0.5rem;
            }

            li {
                &::marker {
                    color: var(--primary);
                }
            }
        }
    }

    .productImage {
        flex-basis: 100%;

        @media (width < 1200px) {
            aspect-ratio: 16/9;
        }

        @media (width >=1200px) {
            flex: 1 1 calc(50% - 0.75rem);
        }

        img {
            object-fit: contain;
        }
    }
}

.arrows {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    inset: 0;
    margin: auto;

    .productSliderArrows {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background: var(--primary);
        border: none;
        color: var(--light);
        opacity: 1;
        position: relative;
        z-index: 10;
        cursor: pointer;

        @media (width >=1920px) {
            width: 4rem;
            height: 4rem;
        }

        &.productSliderArrows--prev {
            left: -1.5rem;

            @media (width >=1920px) {
                left: -2rem;
            }

        }

        &.productSliderArrows--next {
            right: -1.5rem;

            @media (width >=1920px) {
                right: -2rem;
            }
        }

        svg {
            path {
                fill: var(--light);
            }
        }
    }
}