.textSliderRow {
    overflow: unset;
    margin-bottom: 4rem;
    
    @media (width >=1200px) {
        margin-bottom: 5rem;
    }
}

.textSliderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    position: absolute;
    inset: 0;
    margin: auto;

    @media (width >=768px) {
        height: 4rem;
    }

    .textSlideItem {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.325rem;
        font-size: 0.875rem;

        @media (width >=768px) {
            font-size: 1rem;
        }

        .logoMark {
            margin-left: 2rem;
        }
    }

    &.textSliderOne {
        background: var(--light);
        color: var(--dark);
        z-index: 1;
        transform: skewY(3deg);
        margin-top: -0.25rem;
    }

    &.textSliderTwo {
        background: var(--darkAlt);
        color: var(--light);
        z-index: 2;
        transform: skewY(-3deg);
        margin-top: 2.5rem;

        @media (width >=768px) {
            margin-top: 0;
        }

        .textSlideItem {
            flex-direction: row-reverse;
        }
    }
}