.banner {
    padding-top: calc(var(--headerHeight) * 0.66);
    padding-bottom: calc(var(--headerHeight) * 0.25);
    min-height: calc(100vh - var(--headerHeight) * 3);
    background-size: cover;
    background-position: center;
    margin: auto;
    border-radius: 0;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgba(var(--darkRgb), 0.25) 0%, rgba(var(--darkAltRgb), 0.66) 50%, rgba(var(--primaryRgb), 0.25) 100%);
    }

    @media (width >=1200px) {
        border-radius: 3rem;
        margin-top: calc(var(--headerHeight) * 0.5);
        margin-bottom: calc(var(--headerHeight) * 0.5);
        padding-top: calc(var(--headerHeight) * 0.5);
        padding-bottom: calc(var(--headerHeight) * 0.5);
        width: calc(100% - var(--headerHeight));
        min-height: calc(100vh - var(--headerHeight) * 3);
    }

    .bannerContainer {
        position: relative;
        z-index: 10;
        gap: 1.5rem;

        @media (width >=768px) {
            gap: 2rem;
        }
    }

    .bannerHeading {
        h1 {
            max-width: 17.5ch;
        }
    }

    &.bannerVideo {
        video {
            position: absolute;
            inset: 0;
            margin: auto;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &::after {
            background: linear-gradient(to top, rgba(var(--darkRgb), 0.25) 0%, rgba(var(--darkAltRgb), 0.5) 50%, rgba(var(--primaryRgb), 0.25) 100%);
        }
    }

}