.list {
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
    padding: 0.5rem 0;

    @media (width >=768px) {
        padding: 1rem 0;
    }

    .listItem {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        width: 100%;
        height: auto;

        .listIcon {
            color: var(--color-primary);
            flex: 0 0 auto;
            width: 1rem;
            height: 1rem;

            @media (width >=768px) {
                width: 2rem;
                height: 2rem;
            }
        }

        .listText {
            font-size: 0.75rem;
            line-height: 115%;
            flex: 0 0 calc(100% - 2rem);
            font-weight: 600;
            max-width: max-content;

            @media (width >=768px) {
                font-size: 0.875rem;
            }
        }
    }

    &.stylised {
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: stretch;
        gap: 1rem;

        .listItem {
            flex-direction: column;
            gap: 0.75rem;
            flex: 0 0 calc(50% - 0.5rem);
            padding: 0.5rem 0.75rem;
            background: var(--darkAlt);
            border-radius: var(--colRadius);
            height: auto;
            min-height: 4rem;

            @media (width >=768px) {
                flex-direction: row;
                gap: 1rem;
                padding: 0.875rem 1rem;
            }
        }
    }
}