.statsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;

    @media (min-width: 768px) {
        gap: 0.5rem;
        justify-content: space-between;
    }
}

.statItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
    width: 100%;
    max-width: max-content;

    @media (width >=768px) {
        flex: 1 1 calc(33.33% - 0.25rem);
    }

    .statCounter {
        font-size: 1.5rem;
        font-weight: 400;
        color: var(--primary);
        text-transform: uppercase;
        padding-bottom: 0.5rem;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 25%;
            height: 1px;
            background-color: rgba(var(--lightRgb), 0.15);
        }

        @media (min-width: 768px) {
            font-size: 2rem;
        }
    }

    .statTitle {
        font-size: 0.66rem;
        line-height: 125%;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
        max-width: 15ch;
        text-wrap: balance;
    }

    .primary {
        color: var(--primary);
    }
}