.testimonialsHeader {
    position: relative;
    width: 100%;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 1.5px;
        background: rgba(var(--lightRgb), 0.05);
    }

    .testimonialGoogleCard {
        display: flex;
        flex-direction: column;
        gap: 0.875rem;
        background: var(--darkAlt);
        padding: 1rem;
        border-radius: var(--colRadius);
        font-size: 0.875rem;

        @media (width < 1200px) {
            position: absolute;
            z-index: 1;
            bottom: -5rem;
            right: 0rem;
            scale: 0.8;
        }

        @media (width >=1200px) {
            padding: 1.5rem;
        }
    }
}

.testimonialCard {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;

    @media (width >=1200px) {
        flex-flow: row nowrap;
        justify-content: center;
        gap: 2rem;

        >div {
            flex-basis: calc(50% - 1rem);
        }
    }

    .testimonialImage {
        height: 100%;
        position: relative;
        aspect-ratio: 1 / 1;

        @media (width >=1200px) {
            aspect-ratio: unset;
            height: auto;
            min-height: 35rem;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: var(--colRadius);
        }

        .testimonialModalButton {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: transparent;
            border: none;
            cursor: pointer;
        }

        .testimonialPlayIcon {
            position: absolute;
            inset: 0;
            margin: auto;
            width: 3.5rem;
            height: 3.5rem;
            color: var(--primary);
            pointer-events: none;
            transition: var(--ease);

            @media (width >=1200px) {
                width: 5.5rem;
                height: 5.5rem;
            }

            svg {
                width: 100%;
                height: 100%;
            }
        }

        &:hover {
            .testimonialPlayIcon {
                scale: 1.1;
                color: var(--light);
            }
        }
    }

    .testimonialContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        width: 100%;

        @media (width >=1200px) {
            padding: 3rem;
        }

        .testimonialQuote {
            &::before {
                content: '“ ';
                color: var(--primary);
                font-weight: 700;
            }

            &::after {
                content: ' ”';
                color: var(--primary);
                font-weight: 700;
            }
        }

        .testimonialMeta {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            width: 100%;

            @media (width >=1200px) {
                justify-content: space-between;
            }

            .testimonialMetaText {
                display: flex;
                flex-direction: column;
                gap: 0.25rem;
                width: 100%;

                @media (width >=1200px) {
                    flex: 1 0 calc(50% - 1rem);
                }

                h4 {
                    @media all {
                        color: var(--primary);
                        font-size: 1rem;
                    }
                }

                p {
                    font-size: 0.75rem;
                    margin: 0;
                    padding: 0;
                    opacity: 0.85;
                }
            }

            .testimonialMetaLogo {
                flex-basis: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;

                @media (width >=1200px) {
                    flex: 0 1 calc(50% - 1rem);
                    justify-content: center;
                }

                img {
                    object-position: left;
                    width: auto;
                    max-height: 1.25rem;
                    object-fit: contain;

                    @media (width >=1200px) {
                        max-height: 2rem;
                    }
                }
            }
        }
    }
}

.testimonialDialog {
    background: transparent;
    padding: 0;
    border: unset;
    overflow: hidden;

    &::backdrop {
        background: rgba(var(--darkRgb), 0.8);
        backdrop-filter: blur(5px);
    }

    .dialogClose {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 2;
        top: 2.5%;
        right: 2.5%;
        width: 2rem;
        height: 2rem;
        background: transparent;
        box-shadow: none;
        border: none;
        color: var(--light);
        cursor: pointer;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    .dialogContent  {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: var(--colRadius);
        border: 2px solid rgba(var(--lightRgb), 0.1);
    }
}